<nav class="navbar navbar-inverse bg-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="v-center">
        <img src="http://res.cloudinary.com/abohte/image/upload/v1514571717/codaisseurify_gsjkiy.png" class="header-image">
        <%= link_to "Codaisseurify", root_path, class: "navbar-brand home_link" %>
      </div>
    </div>
  </div>
</nav>
