<nav class="navbar navbar-inverse bg-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Codaisseurify", root_path, class: "navbar-brand text-success text-justify" %>
    </div>
  </div>
</nav>
