<li class="list-group-item" id="song-<%= song.id %>">
  <div class="row">
    <div class="col-xs-1">
      <%= song.year %>
    </div>
    <div class="col-xs-10">
      <%= song.title %>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-xs btn-grey pull-right" id="delete-song">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</li>
