// Add song
function submitSong(event) {
  event.preventDefault();
  var year = $("#song_year").val();
  var title = $("#song_title").val();
  var artistId = $("#song_artist_id").val();

  addSong(year, title, artistId);

  $("#song_year").val(null);
  $("#song_title").val(null);
}

function addSong(year, title, artistId) {

  var newSong = { year, title, artist_id: artistId };

  $.ajax({
    type: "POST",
    url: "/songs.json",
    data: JSON.stringify({
      song: newSong
    }),
    contentType: "application/json",
    dataType: "json"
  })
  .done(function(data) {
    console.log(data);

    var songId = data.id;

    var span = $('<span class="glyphicon glyphicon-remove delete-song"></span>')
      .click(deleteSong);

    var button = $('<button class="btn btn-xs btn-grey pull-right"></button>')
      .append($('<div class="col-xs-1">').append(span));

    var titleDiv = $('<div class="col-xs-10"></div>')
      .html(title);

    var yearDiv = $('<div class="col-xs-1"></div')
      .html(year);

    var row = $('<div class="row"></div)')
      .append(yearDiv).append(titleDiv).append(button);

    var listItem = $('<li class="list-group-item"></li>')
      .attr('id', songId)
      .append(row);

    $("#song-list").append(listItem);

  });
}



// Remove song
function deleteSong(event) {
  if(confirm("Are you sure?")) {
    console.log("delete");
    var songId = $(this).closest("li").attr("id").match(/\d+/)[0];
    console.log(songId);
  }
}



// Call functions
$(document).ready(function() {
  $("#new_song").bind('submit', submitSong);
  $(".delete-song").click(deleteSong);
});
