@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #484848;
}

h2 {
  color: white;
}

h4 {
  color: lightgrey;
}

a.home_link {
  color: #1DB954;
}

a.artist_link {
  color: white;
}

a.artist_link:hover {
  text-decoration: none;
  color: #333333;
}
a.artist_link:focus {
  text-decoration: none;
  color: #333333;
}

.artist-name {
  font-size: 150%;
  font-weight: bold;
}

.notice, .alert {
  text-align: center;
}

.light-text {
  color: lightgrey;
}

.dark-text {
  color: #222222;
}

.alert-text {
  color: #1DB954;
}

.btn-grey {
  background-color: #484848;
}

.glyphicon {
  background-color: #484848;
  color: white;
}

.alert {
  margin-bottom: 0px;
}

.list-group-item {
  background-color: #808080;
  color: #333333;
}

.v-center {
  display: flex;
  align-items: center;
}

.header-image {
  height: 30px;
  margin-right: 10px;
}
